@charset "euc-jp";

/* --------------------------------------*/
/* 基本 */
/* --------------------------------------*/
body {
	color: #000000;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

/* 画像の枠 */
img {
	border-style: none;
	vertical-align: middle;
}

/* ヘッダーエリア */
#header{
	margin-left: 10px;
	margin-right: 10px;
	/*width: 750px;*/
}

/* コンテンツエリア */
#contents{
	margin-left: 10px;
	margin-right: 10px;
	/*width: 750px;*/
}

/* フッターエリア */
#footer{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
	margin-left: 10px;
	margin-right: 10px;
	margin: 5px 0px 0px 10px;
	padding: 5px 0px;
	/*width: 750px;*/
}
#foot-section{
	margin-left: 10px;
}
.foottxt{font-size: 70%;}


/* --------------------------------------*/
/* リンクカラー */
/* --------------------------------------*/
a:link { color:#0000CC }
a:visited { color:#660099 }
a:active { color:#FF0000 }
a:hover { color:#FF0000 }

/* --------------------------------------*/
/* テキスト */
/* --------------------------------------*/
/* 本文用 */
.txt-main {
	/*margin-left: 10px;*/
	margin: 0px 0px 0px 10px;
	font-size: 84%; 
	line-height: 126%;
}
.txt-main2 {
        margin: 0px 0px 0px 10px;
        font-size: 100%;
        line-height: 1.5;
}
.txt-box1 {
	margin: 2px 0px 0px 10px;
	font-size: 80%;
	line-height: 100%;
	background-color: #E8E8FC;
	/*border:1px solid gray;*/
	padding: 3px;
	text-align: justify;
	text-justify: newspaper;
	/*width: 90%;*/
}
 /* 表組み用 */
.txt-m01 { font-size: 84% }
.txt-m02 { font-size: 94% }

/* --------------------------------------*/
/* テーブル */
/* --------------------------------------*/
/* 背景色 */
.bg-ffffff { background-color: #FFFFFF }

/* 大見出し */
.caption1{
	font-size: 120%;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 5px 3px 5px;
	background-color: #D8D8FC;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0D0;
}
/* 中見出し */
.caption2{
	margin: 10px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	font-size: 110%;
	font-weight: bold;
	/*color: #333333;*/
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #D8D8FC;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0D0;
}
/* 小見出し */
.caption3{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 100%;
	font-weight: bold;
	color: #333333;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #C0C0D0;
}

/* 小見出し */
.caption4{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 100%;
	font-weight: bold;
	color: #333333;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #C0C0D0;
}
.link1{
	/*margin: 5px 0px 5px 0px;*/
	/*padding: 0px 0px 3px 5px;*/
	margin: 0px 0px 3px 5px;
	font-size: 94%;
}

.link2{
	/*margin: 5px 0px 5px 0px;*/
	/*margin: 5px 5px 3px 5px;*/
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	font-size: 94%;
}

.link3{
	/*margin: 5px 0px 5px 0px;*/
	/*margin: 5px 5px 3px 5px;*/
	/*padding: 5px 0px 3px 0px;*/
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	font-size: 84%;
}

.link_menu1{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 10px;
        font-size: 84%;
        text-decoration: none;
}

.link_menu2{
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
        font-size: 84%;
}
.link_menu3{
        margin: 0px 0px 0px 0px;
        padding: 2px 0px 0px 0px;
        font-size: 84%;
}

/*ミドルウェア一覧*/
.table1{
	margin: 5px 5px 3px 5px;
	/*padding: 5px 0px 3px 0px;*/
	color: #333333;
	background-color: #FFFFFF;
	font-size: 92%;
	border: 1px solid gray;
	border-collapse: collapse;
	empty-cells: show;
	text-align: center;
	table-layout: fixed;
	width: 95%;
}

.table1-1{
	background-color: #D8D8FC;
	text-align: left;
	vertical-align: top;
	border-right-style: outset;
}

.table1-2{
	background-color: #D8D8FC;
	text-align: center;
	border-bottom-style: outset;
}

.table1-3{
	background-color: #C0C0C0;
	text-align: center;
	border-bottom-style: outset;
}

/*ライセンス*/
.table2{
	margin: 5px 5px 5px 5px;
	padding: 5px 0px 5px 0px;
	font-size: 100%;
	table-layout: auto;
	border-collapse: collapse;
	empty-cells: hide;
	text-align: left;
	vertical-align: top; 
}

/*マニュアル一覧*/
.table3{
	margin: 5px 5px 3px 5px;
	color: #333333;
	background-color: #FFFFFF;
	font-size: 92%;
	border-collapse: collapse;
	empty-cells: show;
}

.table3-1{
	vertical-align: top;
}

.table3-2{
	font-size: 20%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
}



/* --------------------------------------*/
/* お問い合わせページ */
/* --------------------------------------*/
/* 大見出し */
#cntct-midashi{
	font-size: 120%;
	width: 740px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px 0px 3px 5px;
	background-color: #D8D8FC;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0D0;
}
/* 本文 */
.cntct-honbun{
	font-size: 94%;
	line-height: 120%;
	margin: 0px 0px 20px 10px;
}
ul.cntct-list{
	margin: 0px;
	padding: 0px 0px 0px 20px;
}
/* カテゴリー */
.cntct-category{
	width: 650px;
	border-top: 1px solid #CCCCCC;
	margin: 10px 0px 15px 45px;
	padding: 10px 0px 0px;
}
/* 中見出し */
.cntct-nakamidashi{
	margin: 2px 0px 5px 15px;
	font-size: 104%;
	font-weight: bold;
	color: #333333;
}
/* 小見出し */
.cntct-komidashi{
	font-size: 94%;
	margin: 0px 0px 5px 15px;
	font-weight: bold;
}
/* 説明文 */
.cntct-exp{
	font-size: 94%;
	line-height: 120%;
	margin: 0px 0px 0px 15px;
	width: 600px;
}
/* お問い合わせいただく前に */
#cntct-notice{
	border: 1px solid #A0A0A0;
	width: 650px;
	margin-left: 45px;
	background-color: #FFFFE0;
}
#cntct-noticetitle{
	font-size: 94%;
	font-weight: bold;
	background-color: #FFD950;
	text-align: center;
	padding: 6px;
	margin: 0px;
}
.cntct-noticehonbun{
	font-size: 94%;
	margin: 20px 20px 0px;
}
ul.cntct-noticelist{
	font-size: 94%;
	line-height: 120%;
	margin: 0px;
	padding: 10px 30px 10px 40px;
}
ul.cntct-noticelist li{
	margin: 6px 0px;
}

/* --------------------------------------*/
/* 告知ページ */
/* --------------------------------------*/
/* 掲載日 */
#ntc-date{
	font-size: 84%;
	text-align: right;
}
/* 掲載部門名 */
#ntc-section{
	font-size: 84%;
	text-align: right;
}
/* 題名 */
#ntc-midashi{
	font-size: 120%;
	text-align: center;
	padding-bottom: 10px;
	font-weight: bold;
}
/* 内容 */
#ntc-honbun{
	font-size: 94%;
	line-height: 120%;
	margin-right: 20px;
	margin-left: 20px;
}
/* お問い合わせ先 */
#ntc-cntct{
	padding: 10px 20px;
	margin-left: 120px;
	border: 1px solid #0033CC;
	width: 380px;
}
/* お問い合わせ先題名 */
#ntc-cntcttitle{
	font-size: 94%;
	font-weight: bold;
	text-align: center;
}
